<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" [opened]="screenWidth > 900">
      <h2 class="title">Sections</h2>
      <mat-chip-list cdkDropList class="mat-chip-list-stacked" (cdkDropListDropped)="dropOrderSections($event)">
        <mat-chip *ngFor="let section of sections" color="undefined" removable (removed)="onEditSectionClick(section)" (click)="activeTab = section.id" cdkDrag>
          <mat-icon>{{ section.icon }}</mat-icon>
            {{ section.title }}
          <mat-icon matChipRemove class="hidden-icon">create</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <button mat-button (click)="onAddSectionClick()"><mat-icon>add</mat-icon>Add</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
  
      <div class="scrollable-content">
        <mat-card *ngFor="let experience of sortedExperiences">
            <mat-card-header>
              <mat-card-title>{{ experience.title }}</mat-card-title>
              <mat-card-subtitle *ngIf="experience.subtitle">{{ experience.subtitle }}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="!experience.today; else today">
                {{ experience.startDate | date:"MMM. yyyy"}} - {{ experience.endDate | date:"MMM. yyyy"}}
              </mat-card-subtitle>
              <ng-template #today>
                <mat-card-subtitle>
                  {{ experience.startDate | date:"MMM. yyyy"}} - Today
                </mat-card-subtitle>
              </ng-template>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li *ngFor="let bullet of experience.description">{{ bullet }}</li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="onUpdateExperienceClick(experience)">EDIT</button>
              <button mat-button (click)="onDeleteExperienceClick(experience)">DELETE</button>
            </mat-card-actions>
          </mat-card>
        
        <div class="overlay-button">
          <button mat-fab (click)="onPrintClick()" color="secondary"><mat-icon>print</mat-icon></button>
          <button *ngIf="activeTab !== 'info'" mat-fab (click)="onAddExperienceClick(activeTab)" color="secondary"><mat-icon>add</mat-icon></button>
        </div>
      </div>
  
      <button mat-icon-button class="toggle-button" *ngIf="!sidenav.opened" [matMenuTriggerFor]="mobileSidenav" aria-label="Sidenav menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #mobileSidenav="matMenu" overlapTrigger="false" xPosition="after">
        <h2 class="title">Resume</h2>
        <mat-chip-list cdkDropList class="mat-chip-list-stacked">
          <mat-chip *ngFor="let section of sections" color="undefined" removable (removed)="onEditSectionClick(section)" (click)="activeTab = section.id" cdkDrag>
            <mat-icon>{{ section.icon }}</mat-icon>
              {{ section.title }}
            <mat-icon matChipRemove>create</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <button mat-button matTooltip="Click to add a new section" (click)="onAddSectionClick()"><mat-icon>add</mat-icon>Add</button>
      </mat-menu>
    </mat-sidenav-content>
  
</mat-sidenav-container>

<div class="resume">
  <div class="info">
    <div class="profile-container">
      <img [src]="imageURL | async"/>
      <h1>{{ profile.name }}</h1>
    </div>

    <div class="list">
      <h2>Contacts</h2>
      <table>
        <tr valign="top">
          <td ><fa-icon [icon]="location"></fa-icon></td>
          <td [innerHTML]="profile.adress"></td>
        </tr>
        <tr valign="top">
          <td ><fa-icon [icon]="phone"></fa-icon></td>
          <td>{{ profile.phone }}</td>
        </tr>
        <tr valign="top">
          <td ><fa-icon [icon]="email"></fa-icon></td>
          <td>{{ profile.email }}</td>
        </tr>
      </table>
    </div>

    <div class="list">
      <h2>References</h2>
      <table>
        <tr *ngFor="let reference of profile.references" valign="top">
          <td ><fa-icon [icon]="reference.icon"></fa-icon></td>
          <td><a href="{{ reference.url }}">{{ reference.shortUrl }}</a></td>
        </tr>
      </table>
    </div>

    <div class="list">
      <h2>Languages</h2>
      <table>
        <tr *ngFor="let language of profile.languages" valign="top">
          <td>{{ language }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="sections">
    <div *ngFor="let section of sections" class="section">
        <mat-icon>{{ section.icon }}</mat-icon><h2 class="section-title">{{ section.title }}</h2>
        <ul class="timeline">
        <li *ngFor="let experience of getSortedExperiences(section.id)">
          <div  class="experience">
            <div class="date">
              <span *ngIf="!experience.today; else today">{{ experience.endDate | date:"MMM. yyyy"}} - {{ experience.startDate | date:"MMM. yyyy"}}</span>
              <ng-template #today>Today - <br>{{ experience.startDate | date:"MMM. yyyy"}}</ng-template>
            </div>
            <div class="info">
              <span class="experience-title">{{ experience.title }}</span>
              <span class="experience-subtitle" *ngIf="experience.subtitle">{{ experience.subtitle }}</span>
              <ul class="bullets">
                  <li *ngFor="let bullet of experience.description">{{ bullet }}</li>
              </ul>
            </div>
          </div>
        </li>
        </ul>
    </div>
  </div>

</div>
